:root {
  --main-text-colors: #333; /* Dark text color */
  --tertiary-colors: #f4f4f4; /* Light gray color */
  --inactive-colors: #ccc; /* Inactive gray color */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
  html, body {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
  }
}
